scripts/example-workflow-subscribers.json
{
  "name": "MailWizz - Test Subscribers Bulk",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Générer des données de test pour subscribers\nconst subscribers = [\n  {\n    EMAIL: \"test1@example.com\",\n    FNAME: \"Alice\",\n    LNAME: \"Martin\"\n  },\n  {\n    EMAIL: \"test2@example.com\",\n    FNAME: \"Bob\",\n    LNAME: \"Dupont\"\n  },\n  {\n    EMAIL: \"test3@example.com\",\n    FNAME: \"Claire\",\n    LNAME: \"Bernard\"\n  }\n];\n\nreturn {\n  json: {\n    subscribers: subscribers\n  }\n};"
      },
      "name": "Generate Test Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "subscriber",
        "operation": "createBulk",
        "listId": "YOUR-LIST-UID-HERE",
        "subscribers": "={{$json[\"subscribers\"]}}"
      },
      "name": "Mailwizz - Create Subscribers",
      "type": "n8n-nodes-mailwizz-ls",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "mailwizzApi": {
          "id": "1",
          "name": "MailWizz API"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Generate Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Test Data": {
      "main": [
        [
          {
            "node": "Mailwizz - Create Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
